/* Reset */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #333;
}

/* Header */
header {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
}

nav a:hover {
    text-decoration: underline;
    color: antiquewhite;
}

/* Hero Section */
.hero {
    background-image: url("./assets/heroimage.jpeg");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-btn {
    background-color: #c0392b;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.hero-btn:hover {
    background-color: #a93226;
}

/* Featured Section */
.featured {
    padding: 30px 20px;
    text-align: center;
    background-color: white;
}

.featured img {
    width: 300px;
    margin: 20px 0px;
    border-radius: 7px;
}

.featured h3 {
    margin-top: 10px;
    font-size: 24px;
}

/* Menu Section */
.menu {
    padding: 30px 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.menu h2 {
    margin-bottom: 30px;
}

.menu-item {
    background-color: white;
    width: 250px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 7px;
}

.menu-item h3 {
    margin-top: 0px;
}

.menu-item span {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #c0392b;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/* Contact Section */
.contact {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 25px;
    color: #666;
}

.contact form {
    width: 400px;
    margin: auto;
}

.contact input, .contact textarea, .contact select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.contact input:focus, .contact textarea:focus, .contact select:focus {
    outline: none;
    border-color: #a93226;
}

.contact button {
    background-color: #c0392b;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

.contact button:hover {
    background-color: #a93226;
}

.contact button, .contact select{
    width: 107%;
}